.soulslike.sheet.characterSheet .sheet {
  width: 500px;
  height: 500px;
}
.soulslike.sheet.characterSheet .headerBox {
  font-size: 40px;
}
.soulslike.sheet.characterSheet .hand-slot {
  width: 300px;
  height: 300px;
  background-color: white;
  color: black;
}
