<section class="tab-content">
    <h3>Weapon Stats</h3>
    <div class="form-group">
        <label>Damage Die</label>
        <input type="text" name="system.damage_die" value="{{system.damage_die}}">
    </div>
</section>
