name: Build and Release

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      release_notes:
        description: Optional notes for the release
        required: false
        default: ''
  push:
    tags:
      - 'v*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Build Project
        run: npm run build

      - name: Zip dist Directory
        run: |
          cd dist
          zip -r ../system.zip ./*
          cd ..

      - name: Update Latest Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          name: Latest
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: './dist/system.json,./system.zip'
          tag: latest
          body: ${{ github.event.inputs.release_notes }}

      - name: Create Version Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          name: Release v${{ github.ref_name }}
          draft: false
          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          artifacts: './dist/system.json,./system.zip'
          tag: ${{ github.ref_name }}
          body: ${{ github.event.inputs.release_notes }}
